.app {
    background-color: #eff3f0;
    display: flex;
    flex-direction: column;
    align-items: left;
}
.app__body{
    display: flex;
    margin-top: 35px;
    max-width: 1200px;
    margin-left: 20px;
    margin-right: 20px;
}
